:root {
  // Border radiuses
  --border-radius-none: 0;
  --border-radius-default: 0.5rem;
  --border-radius-subtle: 0.25rem;
  --border-radius-rounded: 1rem;
  --border-radius-circle: 50%;
  --border-radius-pill: 20rem;

  // Shadows
  --shadow-small: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  --shadow-default: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  --shadow-large: 0 4px 16px 0px rgba(0, 0, 0, 0.15);
  --shadow-xlarge: 0 15px 50px 0px rgba(0, 0, 0, 0.3);
  --shadow-inner: 0 2px 4px 0px rgba(0, 0, 0, 0.05);

  // Z-indexes
  --z-index-min: -999;
  --z-index-default: 1;
  --z-index-sticky: 300;
  --z-index-header: 400;
  --z-index-overlay: 500;
  --z-index-dropdown: 600;
  --z-index-spinner: 700;
  --z-index-modal: 800;
  --z-index-max: 999;

  // Transition times
  --transition-extra-fast: 0.15s;
  --transition-fast: 0.2s;
  --transition-regular: 0.3s;
  --transition-slow: 0.6s;

  --color-default: #ffffff;
  --color-inverse: #000000;
  --color-bg-highlight: #333333;

  &.theme-dark {
    --color-default: #000000;
    --color-inverse: #ffffff;
    --color-bg-highlight: #cccccc;
  }
}
